<!DOCTYPE html>
<!-- mingweisamuel.com -->
<html lang="en" ng-app="champApp">
<head>
  <meta charset="utf-8">
  <title>Champion Mastery Lookup | championmastery.xyz</title>
  <meta name="description" content="Champion Mastery Lookup | championmastery.xyz">
  <meta name="author" content="">
  
  <meta property="og:site_name" content="championmastery.xyz"/>
  <meta property="og:title" content="Champion Mastery Lookup"/>
  <meta property="og:description" content="Champion mastery lookup for League of Legends"/>
  <meta property="og:image" content="favicon.png">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
  <link rel="stylesheet" href="styles.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.min.js"></script>
  <script src="script.js"></script>
  
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body ng-controller="MainController">
  <div class="container">
    <h1><a href="http://championmastery.xyz">championmastery.xyz</a></h1>
  </div>
  <div class="container">
    <form action="{{window.location}}">
      <input type="text" name="summoner" ng-model="summoner" />
      <select name="region" ng-model="region" ng-options="option for option in regions track by option"></select>
      <input type="submit" value="go" />
    </form>
  </div>
  <div style="min-height: 360px;">
    <div class="container" ng-show="searched && !loaded">Loading...</div>
    <div class="container" ng-show="error || data.error">An error occured. Please try again later.</div>
    <div class="container" ng-show="!data.data && loaded && searched">Summoner not found</div>
    <div class="container rank" ng-show="data.data">
      <img ng-src="ranks/{{data.rankImage}}.png" />
      <div ng-bind="data.rankText"></div>
    </div>
    <div class="container">
      <div ng-show="total"><span ng-bind="total | number:0"></span> total mastery</div>
    </div>
    <div class="container">
      <div ng-repeat="cm in data.data" class="mastery">
        <div class="frame" style="background-position: -{{(cm.championLevel2 - 1) * 80}}px 0;">
          <img class="champion" ng-src="{{data.champs[cm.championId].image}}" />
          <img class="chest" ng-show="cm.chestGranted" src="chest.png" alt="" />
        </div>
        <div style="font-size: 0.6rem;">last played<br /><span ng-bind="cm.timeSince"></span> ago</div>
        <div ng-bind="cm.championPoints | number:0" /></div>
        <div ng-bind="cm.highestGrade"></div>
      </div>
    </div>
  </div>
  <div class="footer">Made by <a href="http://reddit.com/u/LugnutsK">/u/LugnutsK<!-- mingweisamuel.com --></a></div>
  <div class="footer">
    championmastery.xyz isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
  </div>
</body>
</html>
